.hero{
    height: 100vh;
    width: 100vw;
    display: flex;
    margin: 3rem auto;
    position: relative;
    background: rgb(2,0,36);
    font-family: 'Titillium Web', sans-serif;
    background: linear-gradient(180deg, rgba(2,0,36,1) 60%, #0D19A3 100%);
}

.intro{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    padding: 0 2rem;
    max-width: 1100px;
    margin : 0 auto
}

.intro-name{
    font-size: 8rem;
    text-align: left;
    color :#FBFFFD;
    margin-left: -5px;
    font-weight: 700;
}

.intro h3{  
    text-align: left;
    font-size: 4rem;
    color: #15DB95;
    font-weight: 700;
}


.intro h2{
    font-size: 1rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    color: #a5a5a5;
    text-align: left;
    word-spacing: 4px
}

.p__opensans{
    margin-top: 1rem;
    color: #a5a5a5
}

.intro p{
    text-align: left;
    color: #a5a5a5;
    max-width: 540px;
    font-size: 1.1rem;
    line-height: 2rem;
    font-weight: 600;
    font-family: 'Titillium Web', sans-serif
}

.me-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}

.me-img img{
    width: 70%;
}

@media screen and (min-width: 2500px){
  .intro{
    max-width: 1500px;
  }
  .intro h2{
    font-size: 3rem;
  }
  .intro-name{
    font-size: 8rem;
  }
  .intro h3{
    font-size: 6rem;
  }
  .intro p{
    font-size: 2rem;
    max-width: 740px;
    line-height: 3rem;
  }
}

@media screen and (max-width: 850px){
    .intro-name{
        font-size: 4rem;
    }

    .me-img{
        margin-top: -10%;
    }
}

@media screen and (max-width: 650px) {
    .hero{
        flex-direction: column;
        margin-top: 4rem;
    }
    .intro{
        padding: 0 2rem;
    }

    .intro h2{
        font-size: 1rem;
    }
    .intro h3{
        font-size: 2rem;
    }

}

.lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;
  }
  
  .line {
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
  }
  .line::after {
    content: "";
    display: block;
    position: absolute;
    height: 15vh;
    width: 100%;
    top: -50%;
    left: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
    -webkit-animation: drop 7s 0s infinite;
            animation: drop 7s 0s infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
            animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
  }
  .line:nth-child(1) {
    margin-left: -25%;
  }
  .line:nth-child(1)::after {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .line:nth-child(3) {
    margin-left: 25%;
  }
  .line:nth-child(3)::after {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  
  @-webkit-keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }
  
  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }