.skills{
    width: 100vw;
    margin: 0 auto;
    padding: 100px 0;
    position: relative;
    text-align: left;
    max-width: 1100px;
}

.skills h3{
    font-size: 2rem;
    color: #cccccc;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    width:fit-content;
    font-weight: 700;
    padding-bottom: 1rem 
}

.skills h3::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: 15%;
  left: 0;
  background-color: #15DB95;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.skills h3:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.skills-content{
  margin: 0 1rem;
}

.title{
  color: #e7e7e7 !important;
}

.exp-des{
  margin-left: 2rem;
  padding-top: 1rem;
  max-width: 600px;
}

.exp-des li {
  padding-bottom: 10px;
  color: #a5a5a5 !important;
  font-size: 18px;
  position: relative;
  padding-left: 2rem;
}

.exp-des li::before {
  content: "➤";
  position: absolute;
  left: 0;
  top: 5px;
  color: #15DB95;
  font-size: 10px;
}

.skills p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    font-weight: 600;
    color: #a5a5a5;
    max-width: 540px;
    margin-right: 1rem;
    font-family: 'Titillium Web', sans-serif
}

@media screen and (min-width: 2500px){
  .skills {
    max-width: 1500px;
  }

  .skills-content h3{
    font-size: 3.5rem;
  }

  .experience h4{
    font-size: 35px;
  }

  .experience p{
    font-size: 35px;
  }

  .experience li{
    font-size: 35px;
  }

  .exp-des{
    max-width: 850px;
  }
}

@media screen and (max-width: 850px) {
 
  p{
    font-size: 1.5rem;
  }  

  .skills h3{
    font-size: 1.8rem;
  }
  .skills h3:hover::after{
    display: none;
  }

  .skills-content{
    margin: 0 2rem
  }

  .exp-des li {
    font-size: 15px;
  }
}