@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
  background-color: #0D19A3;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.p__opensans {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

@media screen and (min-width: 2500px) {
  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }
}

@media screen and (max-width: 650px) {
  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px){
  .p__opensans {
    font-size: 12px;
  }
}